.idea/
.vscode/
**/.DS_Store

**/build/
**/target/
**/obj/
**/bin/

**/_typos.toml
**/*.drawio
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.fls
documents/RASD/*.pdf
documents/DD/*.pdf
documents/ITD/*.pdf
documents/ATD/*.pdf

