# Misc
**/.env
**/.DS_Store

# IDEs
**/.idea
**/.vscode
**/.vim

# Latex documents
**/_typos.toml
**/*.drawio
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.fls
documents/**/*.pdf

# Application server
**/build
**/target
**/obj
**/bin
**/TestResults

# Web server
**/node_modules
**/dist*
**/logs
**/*.log*
**/*.ntvs*
**/*.local
**/*.suo
**/*.njsproj
**/*.sln
**/*.sw?

